<%-include('header') -%>
        <!-- Login content goes here -->
        <div class="container left-container">
            <div class="form__container">
                <form action="/login" method="POST">
                <h1>Log in</h1>

                <p class="desc">Don't have an account?
                    <a href="#">Create account</a>
                </p>

                <div>
                    <ul>
                        <li class="socialLoginButton">
                            <a href="#" type="button" class="btn secondary fullWidth">
                                <div class="inner-button">
                                    <img src="/static/assets/google-logo-36.png" alt="">
                                    <span class="socialLoginButtonText">
                                        Continue with Google
                                    </span>
                                </div>
                            </a>
                        </li>

                        <li class="socialLoginButton">
                            <a href="#" type="button" class="btn secondary fullWidth">
                                <div class="inner-button">
                                    <img src="/static/assets/apple-logo-36.png" alt="">
                                    <span class="socialLoginButtonText">
                                        Continue with Apple
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="socialLoginDivider">
                    <hr class="socialLine">
                    <p class="socialLoginDividerText">OR</p>
                    <hr class="socialLine">
                </div>

                <div class="input-group">
                    <input type="email" class="input" placeholder="Email" value="kodego@test.com" required>
                </div>

                <div class="input-group">
                    <input type="password" class="input" placeholder="Password" value="12345678" required>
                </div>

                <button type="submit" class="btn">
                    Log in
                </button>
                </form>
                <% if(locals.logout) {%>
                    <div class="alert alert-success text-center">
                        <%= logout%>
                    </div>
                <%}%>
                <br>
                <% if(locals.errors) {%>
                    <div class="alert alert-danger text-center">
                        <%= errors%>
                    </div>
                <%}%>
                <% if(locals.isInvalid) {%>
                    <div class="alert alert-danger text-center">
                        <%= isInvalid%>
                    </div>
                <%}%>

                <div class="forgot__password">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
        </div>

        <div class="container right-container">
            <!-- Right content goes here -->
        </div>
<%-include('footer') -%>